parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'
        - 'tests/TestApplication/config/services_test.php'
